ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border-top: 2px solid rgb(214,213,213);
  border-bottom: 2px solid rgb(214,213,213);
  margin-top: -2px;
  width: 350px;
  left: 40px;
  background-color: rgb(47,41,41);
}

textbox {
  position: absolute;
  left: 60px;
  color: rgb(255, 255, 255);
}

button {
  border-radius: 5px;
  background-color: rgb(32,28,28);
  color: rgb(214,213,213);
}
